<h2 style="color: blue; text-align: center; font-size: 30px;"><b>Task: Price Range Analysis</b></h2>
<h4 style="color: blue; text-align: center; font-size: 30px;"><b>Level 2 : Task 2</b></h4>

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter("ignore")

In [4]:
df=pd.read_csv("Dataset1.csv")

In [8]:
df.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

### 1. Determine the most common price range among all the restaurants.

In [17]:
# Analyzing the most common price range
most_common_price_range = df['Price range'].value_counts().idxmax() #.idxmax() retrieves the price range with the highest count.
most_common_count = df['Price range'].value_counts().max()

print(f"The most common price range is '{most_common_price_range}', appearing {most_common_count} times.")

The most common price range is '1', appearing 4444 times.

### 2. Calculate the average rating for each price range.

In [22]:
average_rating_per_price_range=df.groupby('Price range')['Aggregate rating'].mean()
print("The average rating for each price range: ")
average_rating_per_price_range

The average rating for each price range:

Price range
1    1.999887
2    2.941054
3    3.683381
4    3.817918
Name: Aggregate rating, dtype: float64

### 3. Identify the color that represents the highest average rating among different price ranges.

In [29]:
# Calculate the average rating for each price range
average_rating_per_price_range = df.groupby('Price range', as_index=False).agg({
    'Aggregate rating': 'mean',
    'Rating color': 'first'  # Assuming each price range has one main color
})

# Find the price range with the highest average rating
highest_avg_rating_row = average_rating_per_price_range.loc[
 average_rating_per_price_range['Aggregate rating'].idxmax()
]
# Extract the color associated with the highest average rating
color_with_highest_avg_rating = highest_avg_rating_row['Rating color']
print(f"The color representing the highest average rating is: {color_with_highest_avg_rating}")

The color representing the highest average rating is: Green

In [ ]:
# agg():
# Aggregate rating: 'mean': Computes the average of the Aggregate rating for each price range.
# Rating color: 'first': Selects the first Rating color encountered within each price range group.